PORT=3000

USE_MOCK_DATA=true

SHOPWARE_BASE_URL=https://demo-shopware-instance.com

SHOPWARE_CLIENT_ID=your_client_id
SHOPWARE_CLIENT_SECRET=your_client_secret

SHOPWARE_ACCESS_KEY=your_sales_channel_access_key